body {
    margin: 0;
    background-color: #000;
    overflow-x: hidden;
    user-select: none;
}

header {
    position: relative;
    display: block;
    padding: 1rem;
    background-color: #434;
}

.navbar {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 56rem;
}

.branding {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
}

.logo {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    color: #fff;
}

main {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 60rem;
}

.container {
    position: relative;
    display: block;
    margin: 1rem;
    padding: 1rem;
    background-color: #333;
}

.pages {
    position: relative;
    display: block;
    padding: .5rem;
    width: fit-content;
    height: fit-content;

    background-color: #444;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.card {
    position: relative;
    display: inline-block;
    margin: .5rem;
    width: 16rem;
    height: 10rem;
    background-color: #333;
    text-decoration: none;
    overflow: hidden;
    transition: .2s ease-in-out;
}

.card .thumb {
    position: absolute;
    display: block;
    margin: 0;
    width: inherit;
    height: 8rem;
    transition: inherit;
}

.card .text {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    top: 8rem;
    height: 4rem;
    background-color: #434;
    color: #fff;
    overflow: hidden;
    transition: inherit;
}

.card .title {
    position: relative;
    display: block;
    margin: inherit;
    width: inherit;
    height: fit-content;
    line-height: 2rem;
    text-indent: 1rem;
}

.card .description {
    position: relative;
    display: block;
    margin: inherit;
    width: inherit;
    height: fit-content;
    line-height: 2rem;
    text-indent: 1rem;
}

.card:hover .text {
    top: 6rem;
}